body {
    background-color: white;
}

img {
    border-radius: 50%;
    width: 50%;
    height: 25%;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}

#header {
    background-color: rgb(113, 148, 148);
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 0%;
}

#navlinks {
    position: fixed;
}

#list {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 15px;
    margin-left: 35%;
} 

#footer {
    background-color: rgb(233, 184, 99);
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 0%;
}